$primary: #2196F3;
$warning: red;

$text-black: #1b1e24;
$text-black-headings: #282323;
$text-black-labels: #434345;


$input-border: #cbcfd0;
$input-border-focus: $primary;
$input-background-focus: white;
$input-disabled: #eee;
$text-hint: #a7abae;

$background-silver: #f8f9f9;
